a {
    word-wrap: break-word;
}

.bar {
    top: 84%;
}
/*------ CONTAINER ------*/
.container {
    background-color: #172A52;
    height: 10em;
    text-align: center;
    width: 100%;
}

/*------ FONTAWESOME ARROW ------*/

.arrow {
    color: #F1592A;
}

.right_arrow {
    margin-left: auto;
    margin-right: -1rem;
}

.left_arrow {
    left: -0.5rem;
    padding-left: 1rem;
    position: absolute;
    top: 0.52rem;
}

/*------ BUTTONS ------*/

.drop-menu {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.drop_menu:active {
    box-shadow: none;
}

.filter_buttons {
    box-shadow: none;
    padding: .75em 2em;
}
.filter_buttons a {
    text-transform: uppercase;
}

/*------ DROPDOWN ITEMS ------*/

.drop-item {
    background-color: white;
    text-align: left;
    font-size: 0.75rem;
    padding: 0.25rem 1.25rem 0.25rem .75rem;
    text-transform: uppercase;
}

.drop-item.active, 
.drop-item:active {
    background-color: rgb(238, 238, 238);
}

.drop-item.hover, 
.drop-item:hover {
    background-color: rgb(235, 235, 235);
}


.drop-item span {
    float: right;
    margin-left: 1em;
    size: 3rem;
}

.eqp-grp,
.ex-grp {
    display: none;
}
.eqp-grp:hover,
.ex-grp:hover {
    text-decoration: none;
}

.top-item,
.top-item:hover {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

/*------ SEARCH BUTTON ------*/

.search {
    background-color: #F1592A;
    padding: .75em 2em;
}

/* ANIMATION */

#equip-products,
#expertise,
#human-resources,
#real-estate,
#eqp-back,
#exp-back,
#hr-back,
#re-back {
    animation-iteration-count: infinite;
}