body {
    margin: 0;
}
#header {
    background-color: #172A52;
    height: 10em;
    text-align: center;
    width: 100%;
}
#bar {
    left: 40%;
    position: absolute;
    top: 8.5em;
}

.buttons:first-child {
    margin-right: -0.25em;
}
.buttons {
    background-color: #f8f9fa!important;
    color: #212529!important;
    padding: .75em 2em;
    font-size: 1rem;
    border-left: 1px solid gray;
    cursor: pointer;
    display: inline-block;
}

#menu {
    width: 100%;
  }
  
  #menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Dropdown menu item design */
  #menu ul li {
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-sizing: content-box;
    cursor: pointer;
    font-size: 0.75rem;
    font-family: 'Rubik', sans-serif;
    height: 50px;
    line-height: 50px;
    padding-left: 1em;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
  }
  /* FontAwesome Arrows Main */
  .buttons::after {
    color: #F1592A;
    content: "\f107";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    float: left;
    width: 1.3em;  
  }

  #menu ul li:not(:first-child)::after,
  #panel1 li:first-child::after {
    content: "\f105";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    float: right;
    width: 1.3em; 
  }
  #menu ul li:not(:first-child)::after,
  #panel1 li:first-child::after {
    content: "\f105";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    float: right;
    width: 1.3em; 
  }

  /* Change color of dropdown links on hover */
  #menu ul li:hover {background-color: #ddd}
  
  .panel {
    display: inline-block;
    width: 15em;
    position: absolute;
  }
  
  #content { 
    display: block;
    width: 100%;
    background-color: beige;
    height: 200px;
    text-align: center;
  }

  /* Arrows */
.arrow {
    color: #F1592A;
}

.r_arrow {
    float: right;
    margin-left: auto;
    top: 3px;
}

/* Clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}